<div class="container-fluid jobs">
  <div class="row background-grey">
    <%= render 'job_heading_searchbox' %>
    <div class="col-md-offset-1 col-md-10 jobform">
      <div class="col-md-12 text-center">
         <h4>Post a new job </h4>
          <hr />
      </div>
      <%= render 'form', job: @job %>
    </div>
  </div>
</div>
