<div class="blue-bar">
  <div class="container">
    <div class="pull-right">
      <%= link_to "Download JD", download_job_description_creators_path, class: 'btn btn-clock btn-default' %>
    </div>
  </div>
</div>
