<div class="modal-dialog">
	<div class="modal-content ">
		<div class="modal-header bg_grey_light">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title">
	    	<%= @community_question.new_record? ? 'Ask a Question' : 'Edit Your Question' %>
	    </h4>
		</div>
		<div class="modal-body no_padding">
			<%= render 'form', community_question: @community_question %>
		</div>
	</div>
</div>
