<div class="nested-fields certification-nested-fields">
  <div class="form-group col-sm-12 text-right">
    <%= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-xs' %>
  </div>
  <%= f.input :title, label: 'Certification Title' %>
  <%= f.input :certifier, label: 'Certifier' %>
  <%= f.input :date, label: 'Certification Date' %>
</div>
