<% if f.errors.any? %>
 <div id="error_explanation">
    <h4 class="ecv_error_heading">Error : Required field cannot be blank:</h4>
    <ul>
      <% f.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
