<% content_for :title, "Digital CV | Create professional resume in minutes | Share and download your resume" %>

<div class="container">
  <div class="row" style="padding: 20px 0;">
    <div class="col-md-12">
      <div class="pull-right">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-download" aria-hidden="true"></i> Download
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to share_and_download_digital_cv_path(@digital_cv, format: :pdf), class: 'dropdown-item' do%>
              <%= fa_icon "file-pdf-o", text: 'Download PDF' %>
            <% end %>
            <%#= link_to 'javascript:void(0)', class: 'dropdown-item' do %>
              <%#= fa_icon "file-word-o", text: 'Download DOCX' %>
            <%# end %>
          </div>
        </div>
        <%#= link_to "Share", 'javascript:void(0)', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<%= render "digital_cvs/templates/html/#{@digital_cv.template.name}" %>

