<%= render 'blue_bar' %>
<%= render "digital_cvs/templates/html/#{@digital_cv.template.name}" %>
<div class="text-center" style="margin-bottom: 30px;">
  <%= link_to "Download Now", 'javascript:void(0)', class: 'btn btn-clock btn-primary btn-default' %>
</div>

<%= render "change_template_modal" %>
