/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require alertify
 *= require alertify/bootstrap
 *= require_tree .
 *= require_self
 */

.main-container {
  margin-top: 91px;
}
.heading1 {
  font-size:30px;
  font-family: "Lato",Arial,Helvetica,sans-serif;
  text-transform:uppercase;
  color: #24607D;
  font-weight:900;
}
.heading2 {
  font-size: 26px;
  color: #000000;
  text-align: center;
  font-weight: 400;
}
.heading4 {
  font-size:18px;
  font-weight:400;
  font-family: "Lato",Arial,Helvetica,sans-serif;
  color:#000000;
  margin:0px 0px 5px 0px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.talent-fore-btn, .blue-bar {
  background-color: #24607D !important;
}

.blue-bar {
  border-bottom: 2px solid #3399ff;
  margin-bottom: 20px;
  min-height: 60px;
  padding: 10px 0;
}

.site-color {
  color: #24607D !important;
}

.resume-editor abbr, .contact-us abbr {
  color: red;
  border-bottom: none;
}

.page-desc h4, .page-desc h5, .site-features {
  font-family: 'Open Sans', sans-serif;
}

.page-desc .page-head {
  margin: 0 0 8px;
  text-transform: uppercase;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #24607D;
}

.margin-top-bottom-10 {
  margin: 10px 0 !important;
}

.alertify.ajs-movable:not(.ajs-maximized) .ajs-header {
  color:#ff751a;
}
.alertify .ajs-body .ajs-content {
  color: red;
}

.wysihtml5-toolbar .btn-group {
  display: inline;
}
.wysihtml5-toolbar {
  list-style-type: none;
  padding-left: 0;
}

footer {
  background-color: #27323d;
  color: white;
  padding-top: 30px;
  margin: 30px -15px 0;
}

footer .brand {
  padding: 5px;
  float: left;
}

footer .brand img {
  width: 206px;
  height: 140px;
  border: 5px solid white;
}

footer a {
  color: #d2d1d1;
}

footer h4 {
  font-weight: bold;
}

footer a.btn-round {
  margin-top: 5px;
}

footer .btn-danger, footer .btn-danger:hover {
  background-color: #d84b6b;
}

footer .social {
  background-color: #ccc;
  height: 130px;
  text-align: center;
  padding: 10px;
}

footer .social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  margin-left: 15px;
  margin-right: 15px;
  width: 100px;
  height: 100px;
}

footer .social .link:hover {
  padding: 15px;
  color: white;
  transform: translateX(10px) rotate(360deg);
}

footer .social .link .fa {
  border-radius: 50%;
  padding: 10px;
}
