// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*******************CSS FOR RESUME BUILDER LANDING PAGE*******************************/
.poster {
  position: relative;
  .caption {
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    h1, h2, h3, h4, a {
      color: white !important;
    }
    .heading1 a {
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.cv-features {
  padding-bottom: 50px;
  color: #24607D;
  min-height: 500px;
  p.heading1 {
    padding: 50px 0;
    margin: 0 0 8px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #24607D;
  }
  .feature {
    margin: 0 0 1.5em;
    font-weight: 600;
    font-size: 1.25em;
    .fa {
      padding-right: 10px;
      vertical-align: top;
      color: #24607D;
    }
    a {
      color: black;
    }
    p {
      font-weight: normal;
      font-size: 15px;
      margin-left: 5em;
      margin-top: -1.5em;
      color: black
    }

    .feature-p {
      margin-left: 6em;
      margin-top: -2.5em;
      color: black;
    }
  }
}

/*******************END CSS FOR RESUME BUILDER LANDING PAGE***************************/

.contact-us {
  h3 {
    margin-top: 0;
    .fa-15x {
      font-size: 1.5em;
    }
    font {
      vertical-align: text-top;
    }
  }
  .contact-form {
    padding-left: 8%;
    border-left: 1px solid #ccc;
  }
  #map {
    height: 400px;
    width: 100%;
  }
}

